input,
button,
select {
  @include form-input-padding(0.5em, 1em);
  @include border-radius(4px);
  background: var(--wet-asphalt);
  @include inner-box-shadow(inset, 0, 0, 2px, 1px, var(--trans-dark-1));
  @include bordered-container(1px, solid, var(--trans-dark-3));
  @include box-shadow(0, 1px, 1px, var(--trans-light-1));
  color: var(--trans-light-7);
  outline: var(--midnight-blue);
}
